body {
  background-color: #fffcf0;
}

.pageArt {
  height: 29.29vh; /* 311.72px / 1248px * 100vh */
  width: 22.04vw;
}

.pageTitle {

  width: 28.95vw; /* 329.12px / 1248px * 100vw */
  height: 7.36vh; /* 63.84px / 866px * 100vh */

}
.displayChanges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   min-width: 35.18vw;
}

/*.rectBoard {*/
/*  z-index: -1;*/
/*  margin-left: -37.5vw;*/

/*}*/
.board {
  display: flex;
justify-content: center

}
.board-all {
    display: flex;
    flex-direction: column;
    gap: 4.88vh;
    padding:  0 2vw 0 0;
  min-height: 50vh;



}
.starting-tiles{
  display: flex;
  flex-direction: column;
  gap: 3.46vh;
  width: max-content;
  align-items: center;

}
.intro{
  display: flex;
  flex-direction: column;
  gap: 6.93vh;
  width: max-content;
  padding-left: 4.01vw;

}
.main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5.77vh 10.77vh;
  margin-top: -17.32vh;
  min-height: 70vh;
}
.overlaySetting {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed; /* Position the overlay on top of the page */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.56); /* Optional: Add a semi-transparent background */
  z-index: 1000; /* Ensure the overlay is on top of other content */
}
.overlayBox{

   width: 29.64vw;
    height: 51.96vh;
    display: flex;
    justify-content: center;
    align-self: center;
  background-color:  #FFFCF0;
}
.overlayInside {
  width: 24.04vw;
  height: 36.95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chip-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}